{% extends "base.html" %}

{% block head %}
{{ super() }}
<style type="text/css">
    .tb-time{border: 1px solid #DDD; height: 40px; line-height:40px; text-align: center;}
    .tb-time-col{padding: 0px !important; width: 16%;}
    .tb-event{border: 1px solid #DDD; text-align: center;}
    .tb-event-col{padding: 0px !important; width: 12%;}
    .wk-wklabel{width: 12%; text-align: center;}
    .wk-address{width: 16%; text-align: center; font-weight: bold; min-width: 90px;}
    .tb-used{background-color: #5cb85c; color: #FFF;font-size: 16px;}
    .tb-unused{height: 40px; border: 1px solid #DDD;}
    .my_little_tab{font-size: 13px; padding-left: 9px !important; padding-right: 9px !important; padding-top: 6px !important; padding-bottom: 6px !important; margin-bottom: 10px;
        border-radius: 4px 4px 4px 4px !important;
        border: 1px solid #337AB7 !important;
    }
    .mynav{min-width: 800px;}
    .well{padding: 10px;}
    .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
        color: #FFF; background-color: #1B9AF7;
    }
</style>
{% endblock %}

{% block title %}腾创空间管理系统{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>
        你好, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}游客{% endif %}!
    </h1>
</div>
<!-- -->
<div class="tabbable">
<div class="nav">
    <ul class="nav nav-tabs">
        <li>
            <a data-toggle="tab" href="#by_room">按房间查看借用情况</a>
        </li>
        <li>
            <a data-toggle="tab" href="#by_date">按日期查看借用情况</a>
        </li>
    </ul>
    <div class="tab-content">
        <div class="tab-pane fade" id="by_room">

            <div class="nav well mynav">
                <ul class="nav nav-tabs">
                    {% for mark in marks %}
                    <li >
                        <a class="my_little_tab" data-toggle="tab" href="#by_room_{{ mark[0].id }}">{{ mark[0].name }}</a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                    {% for mark in marks %}
                    <div class="tab-pane fade" id="by_room_{{ mark[0].id }}">
                            <table class="table table-bordered" style="word-wrap: break-word; word-break:break-all; border:2px solid; border-color:#DDD;">
                                <thead>
                                    <tr class="wk-daynames">
                                        <td class="wk-address">{{ mark[0].name }}</td>
                                        {%  for i in range(7) %}
                                        <th class="wk-wklabel">
                                            <div class="wk-dayname">{{ days[i][1] }}</div>
                                        </th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="tb-time-col" valign="middle">
                                            <div class="tb-time">08~09点</div>
                                            <div class="tb-time">09~10点</div>
                                            {% for i in range(10,22) %}
                                            <div class="tb-time">{{ i }}~{{ i+1 }}点</div>
                                            {% endfor %}
                                        </td>
                                        {% for j in range(7) %}
                                        <td class="tb-event-col">
                                            {% for i in mark[1][j] %}
                                            {% if i[0] == True %}
                                            <div class="tb-event tb-used" style="height: {{ 40*(i[1].totime-i[1].fromtime) }}px;">{{ i[1].org }}</div>
                                            {% else %}
                                            {% for k in range(i[1]) %}
                                            <div class="tb-event tb-unused">
                                            </div>
                                            {% endfor %}
                                            {% endif %}
                                            {% endfor %}
                                        </td>
                                        {% endfor %}
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>

        <div class="tab-pane fade" id="by_date">

            <div class="nav well mynav">
                <ul class="nav nav-tabs">
                    {% for k in range(7) %}
                    <li >
                        <a class="my_little_tab" data-toggle="tab" href="#by_date_{{ k }}">{{ days[k][1] }}</a>
                    </li>
                    {% endfor %}
                </ul>
                <div class="tab-content">
                        {% for k in range(7) %}
                    <div class="tab-pane fade" id="by_date_{{ k }}">
                        <table class="table table-bordered" style="word-wrap: break-word; word-break:break-all; border:1px solid; border-color:#DDD;">
                                <thead>
                                    <tr class="wk-daynames">
                                        <td class="wk-address">{{ days[k][1] }}</td>
                                        {%  for i in marks %}
                                        <th class="wk-wklabel">
                                            <div class="wk-dayname">{{ i[0].name }}</div>
                                        </th>
                                        {% endfor %}
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="tb-time-col" valign="middle">
                                            <div class="tb-time">08~09点</div>
                                            <div class="tb-time">09~10点</div>
                                            {% for i in range(10,22) %}
                                            <div class="tb-time">{{ i }}~{{ i+1 }}点</div>
                                            {% endfor %}
                                        </td>
                                        {% for mark in marks %}
                                            <td class="tb-event-col">
                                                {% for i in mark[1][k] %}
                                                {% if i[0] == True %}
                                                <div class="tb-event tb-used" style="height: {{ 40*(i[1].totime-i[1].fromtime) }}px;">{{ i[1].org }}</div>
                                                {% else %}
                                                {% for j in range(i[1]) %}
                                                <div class="tb-event tb-unused">
                                                </div>
                                                {% endfor %}
                                                {% endif %}
                                                {% endfor %}
                                            </td>
                                        {% endfor %}
                                    </tr>
                                </tbody>
                            </table>
                    </div>
                    {% endfor %}
                </div>
            </div>

        </div>
    </div>
</div>
</div>
{% endblock %}
